{% extends 'layout.njk' %}

{% block content %}

    <main class="content">
        <div class="banner">
            <div class="banner_title">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            <div class="banner_image">
                <img src="./img/chef.png" alt="">
            </div>
        </div>

        <h1 class="t--large">Mais acessadas</h1>
        <section class="receitas">

            {% for item in  items %}

            <article class="card" id="{{item.id}}">
                <img src="./img/{{item.image}}" alt="">
                <h2 class="t--small t--secondary">{{item.title}}</h2>
                <p class="t--extra--small t--subtitle">{{item.author}}</p>
            </article>

            {% endfor %}
    
        </section>
    </main>
    
{% endblock %}