{% extends 'layout.njk' %}

{% block content %}

    <main class="content">

        {# banner #}
        <section class="receipe--title">
            <div>
                <img src="./img/{{item.image}}">
            </div>
            <h1 class="t--extra--large">{{item.title}}</h1>
            <p class="t--medium t--subtitle">{{item.author}}</p>
        </section>

        {# content #}
        <section class="recipe">

            <h1 class="t--large">Ingredientes <a class="btn--display" id="1">ESCONDER</a></h1>
            <div class="recipe--content" id="show--hide--1">
                {% for i in item.ingredients %}
                    <ul>
                        <li class="t--small t--paragraph">{{i}}</li>
                    </ul>
                {% endfor %}
            </div>

            <h1 class="t--large">Modo de preparo <a class="btn--display" id="2">ESCONDER</a></h1>
            <div class="recipe--content" id="show--hide--2">
                {% for i in item.preparation %}
                     <ul>
                         <li class="t--small t--paragraph">{{i}}</li>
                     </ul>
                {% endfor %}  
            </div>

            <h1 class="t--large">Informações adicionais <a class="btn--display" id="3">ESCONDER</a></h1>
            <div class="recipe--content" id="show--hide--3">
                <p class="t--small t--paragraph">{{item.information}}</p>
            </div>
        </section>
    </main>
    <script src="./js/showRide.js"></script>
    
{% endblock %}